SECRET_KEY=1234567890
DATABASE_URL=postgresql://tri:tripass@tri_db_1/tri
TIME_ZONE=Europe/Vilnius
DEBUG=False

BACKEND_NETWORK=backend
POSTGRES_VOLUME=tridb
STATIC_VOLUME=tristatic
NGINX_PORT=8001
POSTGRES_USER=tri
POSTGRES_PASSWORD=tripass
POSTGRES_DB=tri
API_IMAGE=dorkasv/tri
WEB_IMAGE=dorkasv/triweb
