{% extends "base_generic.html" %}

{% block content %}
  <h1>Event: {{ event.name }}</h1>

  <!--<p><strong>Athlete:</strong> <a href="">{{ athlete.first_name }} {{ athlete.last_name }}</a></p>  author detail link not yet defined -->
  <p><strong>City:</strong> {{ event.city }}</p>
  <p><strong>Date:</strong> {{ event.event_date }}</p> 
  <!-- <p><strong>Genre:</strong> {% for genre in athlete.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>   -->

  <div style="margin-left:20px;margin-top:20px">
    <h4>Athletes</h4>

     {% for result in event.result.all %}
      <hr>
      <p class="text-default"><a href="{{ result.get_absolute_url }}">{{result.athlete.first_name}} {{result.athlete.last_name}}</a>, {{result.total_place}}, {{result.group_place}}</p>
      <!-- {% if copy.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{copy.due_back}}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{copy.imprint}}</p>-->
      <!-- <p class="text-muted"><strong>Id:</strong> {{event.id}}</p>  -->
    {% endfor %} 
  </div>
{% endblock %}